* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
 }
 
 body {
   background-color: #222120;
 }
 
 h1 {
  color: #FFFFFF;
 }
 .main-content {
     width: 100%;
     min-height: 100vh;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }

 .text-input {
  height: 30px;
  width: 250px;
  text-align: center;
  font-size: 1.2rem;
  margin: 10px;
  border: none;
  border-bottom: 2px solid #d5cac9;
  background-color: #DEDEDE;
}

.text {
  color: #222120;
}

 #check-btn {
  border: none;
  width: 90px;
  height: 30px;
  border-radius: 5px;
  font-size: 1.1rem;
  background-color: #d5cac9;
  color: 222120;
  cursor: pointer;
 }

  #check-btn:hover {
color: #d5cac9;
background-color: #222120;
 }
 
 #result {
  overflow-y: auto;
 }

 .content {
     width: min(100vw, 450px);
     min-height: 100px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     padding: 20px;
     margin: 10px 0;
     background-color: #DEDEDE;
     border-radius: 15px;
     font-size: 1.2rem;
     box-shadow: 5px 5px 2.5px black;
 }